---
import Layout from '@/layouts/main.astro';
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const courses = await getCollection("course");
  return courses.map((course: any) => ({
    params: { slug: course.data.slug },
    props: { course },
  }));
}

const { course } = Astro.props as { course: any };
---

<Layout content={{ title: course.data.title }}>
  <h1>{course.data.title}</h1>
  <article set:html={course.body} />
</Layout>
