---
import { Button } from '@/components/ui/button';
import Layout from '@/layouts/main.astro';
---

<Layout content={{ title: "Courses" }}>
  <div>
    <h1>Courses</h1>
    <Button>dsadsa</Button>
  </div>
</Layout>